img {
    border-radius: 2em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2)
}

@media (max-width: 767.98px) {
    h4 {
        font-size: small !important;
    }
    #btnVote1, #btnVote2 {
        font-size: small !important;
    }

    .round-div {
        margin-bottom: 15rem !important;
    }
    .round-divX {
        margin-bottom: 9rem !important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
	h4 {
        font-size: small !important;
    }
    #btnVote1, #btnVote2 {
        font-size: small !important;
    }

    .round-div {
        margin-bottom: 15rem !important;
    }
    .round-divX {
        margin-bottom: 9rem !important;
    }   
}  