

@media (max-width: 767.98px) {
    #indexImg {
        display: none;
    }
    .col-hidden {
        display: none;
    }

    .contentCol {
        width: 100%;
    }

    h1 {
        font-size: 1.8rem !important;
    }

    h3 {
        font-size: 1.2rem !important;
    }

    p {
        font-size: 0.8rem !important;
    }
}