{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Movie Contest</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" integrity="sha384-eoTu3+HydHRBIjnCVwsFyCpUDZHZSFKEJD0mc3ZqSBSb6YhZzRHeiomAUWCstIWo" crossorigin="anonymous">
    {% block style %}
    {% endblock %}
    <style>
      .cookie-consent{
        position: fixed;
        top: 20%;
        left: 30%;
        padding-top: 7px;
        height: 83px;
        display: none;
        line-height: 20px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.3rem;
        background: #292929;
        z-index: 120;
        cursor: pointer;
        border-radius: 3px;
        color: black !important;
      }
      .cookie-consent .card {
        width: 40rem;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid #d2d2dc;
        border-radius: 6px;
        -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
        -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
        box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
      }

      .cookie-consent .cookies a {
        text-decoration: none;
        color: #000 !important;
        margin-top: 8px;
      }

      .cookie-consent .cookies a:hover {
        text-decoration: none;
        color: blue;
        margin-top: 8px;
      }
      .dropdown-toggle::after {
        display: none !important;
      }
      .navbar-transparent {
        background: rgba(35,38,67,.5);
        color: #e5e7ea;
      }
      .navbar-transparent:hover {
        background: #0B1622;
        color: #e5e7ea;
      }

    </style>
  </head>
  <body>
    {% if request.path != '/user/' and not 'user/view' in request.path  %}
    <nav class="navbar navbar-expand-lg navbar-dark p-3">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'favicon.ico' %}" class="me-2"/> <div class="img-icon"> Movie-Contest.<strong style="color: rgb(55, 198, 255);">live</strong></div></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            
            <li class="nav-item">
              <a class="nav-link mx-2 {% if '/' == request.path %}active{% endif %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if 'about-us' in request.path %}active{% endif %}" href="/about-us">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if 'howto' in request.path %}active{% endif %}" href="/howto">How to Play</a>
            </li>
            <li class="nav-item">
              <a class="nav-link mx-2 {% if 'policy' in request.path %}active{% endif %}" href="/policy">Privacy Policy</a>
            </li> 
          </ul>
        </div>
        <div class="nav-item dropdown">
          {% if user.is_authenticated %}
          <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="{% if user.details.profile_image %}/media/{{user.details.profile_image}}{% else %}https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg{% endif %}" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"><b class="caret"></b></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <p class="dropdown-item"><i class="bi bi-shield-check"></i> {{user}}</p>
              <div class="dropdown-divider"></div>
              <a href="{% url 'user' %}" class="dropdown-item"><i class="bi bi-person"></i> Profile</a>
              <a href="{% url 'settings' %}" class="dropdown-item"><i class="bi bi-gear"></i> Settings</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item"><i class="bi bi-box-arrow-left"></i> Logout</a></a>
            </div>
          </div>
          {% else %}
          <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a href="{% url 'login' %}" class="dropdown-item"><i class="bi bi-box-arrow-in-right"></i> Login</a></a>
              <a href="{% url 'signup' %}" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> Register</a></a>
            </div>
          </div>
          {% endif %}
      </div>
    </nav>
    <div class="container" id="container" style="height: 100vh;">
      {% block content %}
      {% endblock %}
    </div>
    {% elif 'user/view' in request.path %}
      {% if userview.details.background_image %}
      <div class="background-image" style="background-image: url('/media/{{userview.details.background_image}}'); height: 25rem;">
      {% else %}
      <div class="background-image" style="background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 25rem;">
      {% endif %}
        <nav class="navbar navbar-expand-lg navbar-dark p-3 navbar-fixed-top navbar-transparent">
          <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'favicon.ico' %}" class="me-2"/> <div class="img-icon">Movie-Contest.<strong style="color: rgb(55, 198, 255);">live</strong></div></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class=" collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav ms-auto ">
                
                <li class="nav-item">
                  <a class="nav-link mx-2 {% if '/' == request.path %}active{% endif %}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2 {% if 'about-us' in request.path %}active{% endif %}" href="/about-us">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2 {% if 'howto' in request.path %}active{% endif %}" href="/howto">How to Play</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mx-2 {% if 'policy' in request.path %}active{% endif %}" href="/policy">Privacy Policy</a>
                </li> 
              </ul>
            </div>
            <div class="nav-item dropdown">
              {% if user.is_authenticated %}
              <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="{% if user.details.profile_image %}/media/{{user.details.profile_image}}{% else %}https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg{% endif %}" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"><b class="caret"></b></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <p class="dropdown-item"><i class="bi bi-shield-check"></i> {{user}}</p>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'user' %}" class="dropdown-item"><i class="bi bi-person"></i> Profile</a>
                  <a href="{% url 'settings' %}" class="dropdown-item"><i class="bi bi-gear"></i> Settings</a>
                  <div class="dropdown-divider"></div>
                  <a href="{% url 'logout' %}" class="dropdown-item"><i class="bi bi-box-arrow-left"></i> Logout</a></a>
                </div>
              </div>
              {% else %}
              <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"></a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a href="{% url 'login' %}" class="dropdown-item"><i class="bi bi-box-arrow-in-right"></i> Login</a></a>
                  <a href="{% url 'signup' %}" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> Register</a></a>
                </div>
              </div>
              {% endif %}
          </div>
        </nav>
        {% block navviewcontent %}
        {% endblock %}
      </div>
        {% block contentviewfull %}
        {% endblock %}
    {% else %}
    {% if user.details.background_image %}
    <div class="background-image" style="background-image: url('/media/{{user.details.background_image}}'); height: 25rem;">
    {% else %}
    <div class="background-image" style="background-image: url('https://images.pexels.com/photos/933054/pexels-photo-933054.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'); height: 25rem;">
    {% endif %}
      <nav class="navbar navbar-expand-lg navbar-dark p-3 navbar-fixed-top navbar-transparent">
        <div class="container">
          <a class="navbar-brand d-flex align-items-center" href="/"><img src="{% static 'favicon.ico' %}" class="me-2"/> <div class="img-icon">Movie-Contest.<strong style="color: rgb(55, 198, 255);">live</strong></div></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto ">
              
              <li class="nav-item">
                <a class="nav-link mx-2 {% if '/' == request.path %}active{% endif %}" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 {% if 'about-us' in request.path %}active{% endif %}" href="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 {% if 'howto' in request.path %}active{% endif %}" href="/howto">How to Play</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2 {% if 'policy' in request.path %}active{% endif %}" href="/policy">Privacy Policy</a>
              </li> 
            </ul>
          </div>
          <div class="nav-item dropdown">
            {% if user.is_authenticated %}
            <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="{% if user.details.profile_image %}/media/{{user.details.profile_image}}{% else %}https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg{% endif %}" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"><b class="caret"></b></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <p class="dropdown-item"><i class="bi bi-shield-check"></i> {{user}}</p>
                <div class="dropdown-divider"></div>
                <a href="{% url 'user' %}" class="dropdown-item"><i class="bi bi-person"></i> Profile</a>
                <a href="{% url 'settings' %}" class="dropdown-item"><i class="bi bi-gear"></i> Settings</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'logout' %}" class="dropdown-item"><i class="bi bi-box-arrow-left"></i> Logout</a></a>
              </div>
            </div>
            {% else %}
            <a href="#" id="dropdownMenuLink" role="button" aria-expanded="false" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action text-light"><img src="https://www.it-recht-web.de/wp-content/uploads/2018/10/filesharing-drei-fragezeichen-waldorf-frommer.jpg" style="height: 3rem; width: 3rem;" class="avatar rounded-circle" alt="Avatar"></a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="{% url 'login' %}" class="dropdown-item"><i class="bi bi-box-arrow-in-right"></i> Login</a></a>
                <a href="{% url 'signup' %}" class="dropdown-item"><i class="bi bi-box-arrow-right"></i> Register</a></a>
              </div>
            </div>
            {% endif %}
        </div>
      </nav>
      {% block navcontent %}
      {% endblock %}
    </div>
      {% block contentfull %}
      {% endblock %}
    {% endif %}
    

    <div class="cookie-consent">

      <div class="d-flex justify-content-center">
        <div class="d-flex align-items-center align-self-center card p-3 text-center cookies">
          <img src="https://i.imgur.com/Tl8ZBUe.png" width="50">
          <h2 class="mt-4">Hey there, welcome to</h2>
          <h2><strong>Movie-Contest.live</strong></h2>
          <span class="mt-4">We use third party cookies to personalize content, ads and analyze site traffic.</span>
          <a class="d-flex align-items-center mt-4" href="#">If you want to know more, go to our Privacy Policy page<i class="fa fa-angle-right ml-2"></i></a>
            <button
                id="btnCookie" class="btn btn-lg btn-dark mt-5 px-4" type="button">Alright, got it!</button>
        </div>
    </div>  

      
    </div>

    {% block footer %}
    {% endblock %}

    <!--<div class="container-fluid text-dark" style="background-color: white;">
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-3">
              <h5>Direction</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">How to Play</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Privacy Policy</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Statistics</a></li>
              </ul>
            </div>
      
            <div class="col-3">
              <h5>Others</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-warning">Credits</a></li>
              </ul>
            </div>
      
      
            <div class="col-4 offset-1">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of whats new and exciting from us.</p>
                <div class="d-flex w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex justify-content-between py-4 my-4 border-top">
            <h3>&copy; 2022 MovieContest, Inc. All rights reserved.</h3>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script>
      function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
      }
      function getCookie(name) {
          var nameEQ = name + "=";
          var ca = document.cookie.split(';');
          for(var i=0;i < ca.length;i++) {
              var c = ca[i];
              while (c.charAt(0)==' ') c = c.substring(1,c.length);
              if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
          }
          return null;
      }
      if(getCookie("cookiesAllowed") == null || getCookie("cookiesAllowed")=="false") {
        $('.cookie-consent').show()
      }
      $('#btnCookie').click(function() {
        setCookie("cookiesAllowed", "true")
        $('.cookie-consent').fadeOut()
      })
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>