{% extends "base.html" %}

{% block content %}

  <!--{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>-->



<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-2">Sign In</h5>
          <form method="post" action="{% url 'login' %}">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="User123" required>
              <label for="user">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
              <label for="password">Password</label>
            </div>

            <div class="d-grid mt-5">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="login">Sign
                in</button>
            </div>
            <hr class="my-4">
          </form>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <a href="{%url 'signup'%}" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="login">Sign
            up</a>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}