{% extends "base.html" %}

{% block content %} 
     

<!--Register--> 
<h2>Register</h2>


<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h2 class="card-title text-center mb-5 fw-light fs-2">Sign Up</h2>
          <form method="post" class="text-dark">
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            <div class="form-floating mb-3">
              <input type="text" class="form-control" maxlength="150" autocapitalize="none" id="id_username" name="username" placeholder="User123" required>
              <label for="user">Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password" required>
              <label for="password1">Password</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Password" required>
                <label for="password2">Password confirmation</label>
              </div>

            <div class="d-grid mt-5">
              <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="Register">Sign
                up</button>
                <h2>{{error_messages}}</h2>
            </div>
            <hr class="my-4">
          </form>
          <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
          <p>You already have an account? Then log in!</p>
          <a href="{%url 'login'%}" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" value="login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}