{% extends "base.html" %}
{% load static %}
{% block style %}
<!-- JavaScript Bundle with Popper -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
<link href="{% static 'css/audience.css' %}" rel="stylesheet"></link>

{% endblock %}
{% block content %}
<!--<div class="base">
	<span class="mail-info">
		<span class="mail-text" tooltip="Click to Copy" tooltip-position="bottom">localhost:8080/game/send/{{ id }}</span>
	</span>
</div>-->
<div class="d-flex justify-content-center">
    <div class="alert alert-success w-50" role="alert">
        <h5><strong>Success!</strong>
        Dein Movie wurde erfolgreich eingereicht :)
        </h5>
    </div>
    <div class="alert alert-danger w-75" role="alert">
        <h5><strong>Failure!</strong>
        Etwas ist leider schiefgelaufen, versuche es später erneut!
        </h5>
    </div>
</div>
<div class="mt-5 d-flex justify-content-center">
    <div class="card text-white bg-dark mb-3 text-center w-50">
        <div class="card-body">
          <h2 class="card-title">Movie Contest - Audience-Modus</h2>
          <p class="card-text mt-4">Willkommen beim Audience-Modus vom Movie Contest. Gebe hier einen Film-Titel ein und drücke auf Senden!</p>
          <div class="d-flex justify-content-center">
            <form class="w-75" action="{% url 'postMovie' %}" id="sendForm">
                {% csrf_token %}
                <p id="token" style="display: none;">{{ csrf_token }}</p>
                <p id="gameId" style="display: none;">{{ id }}</p>
                <div class="mb-4 mt-4">
                <div class="d-flex justify-content-start">
                    <label for="username" class="form-label">Username</label>
                </div>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
                </div>
                <div class="mb-4">
                    <div class="d-flex justify-content-start">
                        <label for="movie" class="form-label"><strong class="strong-active" id="movieStrong">Movie</strong> | <strong id="series" class="strong-inactive">Series</strong></label>
                    </div>
                    <div class="row">
                      <div class="col-9">
                        <input type="text" class="form-control" id="movie" placeholder="Movie" required>
                      </div>
                      <div class="col">
                        <a class="btn btn-primary" id="toggle" pattern="movie">Toggle</a>
                      </div>
                    </div>
                </div>
                <div class="mb-4">
                    <div class="d-flex justify-content-start">
                        <label for="url" class="form-label">URL</label>
                    </div>
                    <input type="text" class="form-control" id="url" placeholder="URL" disabled>
                </div>
                <div class="d-flex justify-content-between mt-5 mb-3">
                    <button type="submit" class="btn btn-lg btn-outline-success">Senden</button>
                    <a href="#" id="reset" class="btn btn-lg btn-outline-warning">Reset</a>
                    <a href="#" id="check" class="btn btn-lg btn-outline-danger">Überprüfen</a>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="mt-2 d-flex justify-content-center w-100 h-100">
          <img id="previewImg" src="" alt="" height="100%" width="100%" style="display: none;">
        </div>
      </div>
      <div class="col">
        <div class="mt-2 d-flex justify-content-center w-100 h-100">
          <div id="carouselDark" class="carousel carousel-white slide w-100 h-100" data-bs-ride="carousel" style="display: none;">
              <!--<div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>-->
              <div class="carousel-inner" id="carousel">
                <div class="carousel-item active" data-bs-interval="10000" id="carousel-item-1">
                  <img id="carousel-img-1" src="https://img1.ak.crunchyroll.com/i/spire3/dac363972d628a7009e04fdeb9d7104a1641869274_main.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 id="carousel-title-1">Title</h5>
                    <button id="carousel-select-1" class="btn btn-primary btn-lg">Auswählen</button>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000" id="carousel-item-2">
                  <img id="carousel-img-2" src="https://img1.ak.crunchyroll.com/i/spire3/dac363972d628a7009e04fdeb9d7104a1641869274_main.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 id="carousel-title-2">Title</h5>
                    <button id="carousel-select-2" class="btn btn-primary btn-lg">Auswählen</button>
                  </div>
                </div>
                <div class="carousel-item" id="carousel-item-3">
                  <img id="carousel-img-3" src="https://img1.ak.crunchyroll.com/i/spire3/dac363972d628a7009e04fdeb9d7104a1641869274_main.jpg" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 id="carousel-title-3">Title</h5>
                    <button id="carousel-select-3" class="btn btn-primary btn-lg">Auswählen</button>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
      </div>
    </div>

    
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="{% static 'js/gameIndex.js' %}"></script>
{% endblock %}