.navbar-sub .nav-item {
    margin-right: 5rem;
    margin-left: 5rem;
}

.navbar-sub {
    background-color: #151F2E !important;
}

.userCard {
    background-color: #151F2E !important;
    max-height: 67rem;
    overflow-y: scroll; /* Add the ability to scroll */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.statisticCard {
    background-color: #151F2E !important;
    height: 7rem;
}

.userCustomCard {
    height: 7rem;
}

.statistic-line {
    font-size: 1.4rem;
}

.userCard::-webkit-scrollbar {
    display: none;
  }

.bg-admin {
    background-color: darkred;
}

.shadow {
    text-shadow: 2px 2px black;
}
.favourite-image {
    height: 100%;
    width: 100%;
    border-radius: 2em;
}

.background-image {
    background-size: cover;
    background-repeat: no-repeat;
}
  
.social-card {
    border-radius: 2em;
}

.social-img {
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    height: 17rem;
}

.nav-link {
    cursor: pointer;
}

.socialRef {
    text-decoration: none;
    color: white;
}

.socialRef:hover {
    color: white;
}

.follow-span {
    cursor: pointer;
}

.donator-span {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;

    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


/** Sidebar **/
  
  
  