{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/policy.css' %}" rel="stylesheet"></link>
{% endblock %}
{% block content %}
    <div class="text-white mb-5">
        <h2>Privacy Policy</h2>
        <h4>Last updated: July 2022</h4>
        <hr class="my-5">
        <h2>Who we are</h2>
        <h5>Our website address is https://movie-contest.a2hosting.com</h5>
        <hr class="my-5">
        <h2 class="mb-4">What personal data we collect and why we collect it</h2>
        <h3 class="mb-2">Cookies</h3>
        <h5>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server. Our website uses cookies. By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.</h5>
        <h5 class="mt-3 mb-3">We use session cookies to personalize the website for each user.</h5>
        <h5>We use Google Analytics to analyze the use of our website. Our analytics service provider generates statistical and other information about website use by means of cookies. Our analytics service provider’s privacy policy is available at: http://www.google.com/policies/privacy/.</h5>
        <h5 class="mt-3 mb-3">Deleting cookies may have a negative impact on the usability of the site. If you block cookies, you will not be able to use all the features on our website.</h5>
        <hr class="my-5">
        <h2 class="mb-4">Database</h2>
        <h5 class="mt-2">
            We currently temporarily store your IP address in our database so that multiple participation can be prevented in Audience mode and it cannot be deleted by deleting cookies.
        </h5>
    </div>
    <div style="height: 7rem;">

    </div>
{% endblock %}